<h1 id="site_name"><a href='/nails_app/home'>NAILS APPLICATION</a></h1>
<ul>
  <li><a href="/nails_app/registration">Registration</a></li>
  <li><a href="/nails_app/contact">Contact Us</a></li>
  <li><a href="/nails_app/about">About</a></li>
  <li><a href="/nails_app/profile">Create master profile</a></li>
</ul>

