<head>
  <title>Nail Application</title>
</head>
<body>

  <header>

   <!-- <img src="icon_image-14.png" class="logo"> -->

    <div class="container">

      <nav>

        <ul>

          <li><a href="/nails_app/contact">Contact Us</a></li>
          <li><a href="/nails_app/about">About</a></li>
          <li><a href="/nails_app/profile">Create master profile</a></li>

        </ul>

      </nav>

    </div>

  </header>

</body>

