// Place all the styles related to the NailsApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#site_name {
  text-align: left;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 0 60px #fff;
  max-width: 1000px;
  margin: 0px auto;
  margin-top: 45px;
  text-decoration: none;
}
