// Place all the styles related to the NailsApp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container{

}

header {
  background-color: #5f697a;
}

header::after{
 content: '';
  display: table;
  clear: both;

}

logo {
  float: left;
  padding: 20px 0;
  margin-left: 30px;
  padding: 10px;
}

nav{
  float: right;

}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 30px;
  padding: 10px;

  position: relative;
}

nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;

}

nav a:hover{
  color: #a3acc1;
  text-decoration: none;
  transition: 400ms;
}

.dropdown{
  display: inline-block;
}

.btn {
  color: #586377;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

}

.btn:hover{

  transition: 400ms;
  background-color:#5f697a;

}
